<mat-toolbar color="primary" class="navbar">
  <span class="title">International Cargo Shipment</span>

  <button [cdkMenuTriggerFor]="mainMenu" class="example-standalone-trigger">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #mainMenu>
    <div class="example-menu" cdkMenu>
      <button class="example-menu-item" cdkMenuItem routerLink="/cust-by-category">Max Revenue in 2nd Quarter</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/2nd-quarter">Quarter Revenue</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/cust-volume">Customer Volume</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/last-quarter">Max revenuer</button>
    </div>
  </ng-template>

  <div class="user-info">
    <mat-icon class="profile-icon">account_circle</mat-icon>
    <span class="user-profile">
      <span class="name">{{ userProfile?.name }}</span>
    </span>

    <button [cdkMenuTriggerFor]="profileMenu" class="example-standalone-trigger">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <ng-template #profileMenu>
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem (click)="onLogoff()">Log Off</button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>
