<div class="container">
        <h1>Customers by Product Category</h1>
      
        <div *ngIf="data && data.length > 0" class="customer-list">
          <div *ngFor="let item of data" class="customer-item">
            <h3>{{ item.category.category_name }}</h3>
            <p>Branch: {{ item.branch }}</p>
            <p>Customer Name: {{ item.customer.name }}</p>
            <p>Company: {{ item.customer.company_name }}</p>
            <p>Total Revenue: ${{ item.customer.totalRevenue }}</p>
          </div>
        </div>
      
        <div *ngIf="!data || data.length === 0" class="no-data">
          <p>No data available</p>
        </div>
      
        <button class="back-button" (click)="goBack()">Back</button>
      </div>
      